<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
	
	<resultMap id="purchaseSelectMap" type="purchase">
	
		<result property="tranNo" column="tran_no" jdbcType="NUMERIC"/>
		<result property="paymentOption" column="payment_option" jdbcType="CHAR"/>
		<result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
		<result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
		<result property="divyAddr" column="divy_addr" jdbcType="VARCHAR"/>
		<result property="divyRequest" column="divy_request" jdbcType="VARCHAR"/>
		<result property="tranCode" column="tran_status_code" jdbcType="CHAR"/>
		<result property="orderDate" column="order_date" jdbcType="DATE"/>
		<result property="divyDate" column="divy_date" jdbcType="VARCHAR"/>
		
		<association property="purchaseProd"  javaType="product">
			<id property="prodNo" column="prod_no" jdbcType="NUMERIC"/>
			<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
			<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
			<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
			<result property="price" column="price" jdbcType="NUMERIC"/>
			<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
			<result property="regDate" column="prod_reg_date" jdbcType="DATE"/>
		</association>
		
		<association property="buyer"  javaType="user">
			<id property="userId" column="buyer_id" jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="password" column="password" jdbcType="VARCHAR"/>
			<result property="role" column="role" jdbcType="VARCHAR"/>
			<result property="ssn" column="ssn" jdbcType="VARCHAR"/>
			<result property="phone" column="cell_phone" jdbcType="VARCHAR"/>
			<result property="addr" column="addr" jdbcType="VARCHAR"/>
			<result property="email" column="email" jdbcType="VARCHAR"/>
			<result property="regDate" column="user_reg_date" jdbcType="DATE"/>
		</association>
	</resultMap>
	
	<!-- SQL : INSERT -->
	 
	<insert id="insertPurchase" parameterType="purchase" >
	 	INSERT
		INTO transaction(tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, divy_addr, divy_request, tran_status_code, order_date, divy_date) 
		VALUES (seq_transaction_tran_no.nextval, #{purchaseProd.prodNo}, #{buyer.userId}, #{paymentOption}, #{receiverName}, #{receiverPhone}, #{divyAddr}, #{divyRequest}, #{tranCode:CHAR}, SYSDATE, #{divyDate})
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
		SELECT
		*
		FROM transaction, users, product
		WHERE product.prod_no = #{value} AND transaction.prod_no=product.prod_no AND transaction.buyer_id=users.user_id
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update id="updatePurchase" parameterType="purchase">
	   	UPDATE transaction
	   	<set>
			payment_option		= #{paymentOption:CHAR},
			receiver_name 		= #{receiverName:VARCHAR} ,
			receiver_phone		= #{receiverPhone:VARCHAR},
			divy_request		= #{divyRequest:VARCHAR}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 
	 <update id="updateTranCode" parameterType="purchase">
	   	UPDATE transaction
	   	<set>
			tran_status_code = #{tranCode}+1
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 <select id="getTranCode" parameterType="int" resultType="string">
		SELECT
		tran_status_code
		FROM transaction
		WHERE prod_no = #{value}
	 </select>
	 
	 <select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
		 SELECT *
		 FROM (	SELECT inner_table.* , ROWNUM AS row_seq
		  		FROM(	SELECT t.tran_no tran_no, t.payment_option payment_option, t.receiver_name receiver_name, 
		  					   NVL(t.receiver_phone, ' ') receiver_phone, t.divy_addr divy_addr,
		  					   t.divy_request divy_request, t.tran_status_code tran_status_code, 
		  					   t.order_date order_date, t.divy_date divy_date, 
							   u.user_id user_id, u.user_name user_name, u.password password, u.role role, u.ssn ssn, 
							   u.cell_phone cell_phone, u.addr addr, u.email email, u.reg_date reg_date,
							   p.prod_no prod_no, p.prod_name prod_name, p.prod_detail prod_detail, p.manufacture_day manufacture_day, 
							   p.price price, p.image_file image_file, p.reg_date p_reg_date
						FROM transaction t, users u, product p
						WHERE t.buyer_id=#{userId} AND t.prod_no=p.prod_no AND t.buyer_id=u.user_id
						ORDER BY t.order_date DESC) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="string" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT t.tran_no tran_no,
							   u.user_id user_id,
							   p.prod_no prod_no
						FROM transaction t, users u, product p
						WHERE t.buyer_id=#{userId} AND t.prod_no=p.prod_no AND t.buyer_id=u.user_id
						ORDER BY t.order_date DESC ) countTable						
	 </select>
</mapper>